/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Review Assignment

   Cycle Pathology Style Sheet
   Author: Daniel Atwood
   Date:   3/1/2014

   Filename:         race.css
   Supporting Files: 

*/


/* Display HTML5 structural elements as blocks */

header, article, aside, figure, figcaption, hgroup,
section, nav {

   display: block;

}


/* Default styles */
* {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   padding: 0px;
   margin: 0px;

}

nav a {
   text-decoration: none;
}


/* Body style */

body {
   position: relative;

   width: 98%;
   min-width: 1000px;
   max-width: 1400px;
}


/* Header styles */
header {
   background-color: rgb(55, 121, 121);
   position: absolute;
   top: 0px;
   left: 0px;
   padding-bottom: 27.3%;
   width: 20%;
}
header p {
   text-align: center;
   color: rgb(250,200,150);
   font-size: 95%; 
}

header img {
   width: 60%;
   margin-left: 20%;
   margin-top: 10%;
}


/* Horizontal Navigation List styles */
nav.horizontal {
   margin-left: 20%;
   width: 57%;
}

nav.horizontal li {
   display: block;
   background-color: rgb(49, 38, 31);
   float: left;
   font-size: 85%;
   padding: 5px 0px;
   text-align: center;
   text-transform: uppercase;
   width: 20%;
}

nav.horizontal a {
   color: white;
}

nav.horizontal a:hover {
   color: rgb(215, 181, 151);
}


/* Vertical Navigation List styles */

nav.vertical p {
   margin-bottom: 20px;
}

nav.vertical li {
   font-size: 85%;
   list-style: none;
}

nav.vertical li.newgroup {
   padding-top: 25px;
}

nav.vertical li a {
   color: white;
   display: block;
   text-indent: 10px;
}

nav.vertical li a:hover {
   background-color: rgb(51, 51, 51);
   outline: 2px solid rgb(215, 181, 151);
}


/* Main Section styles */
#main {
   clear: left;
   float: left;
   margin-left: 21%;
   margin-top: 20px;
   width: 56%;
}

#main > h1 {
   color: rgb(189, 131, 82);
   font-size: 180%;
   font-weight: normal;
   letter-spacing: 5px;
}

#main > h2 {
   color: black;
   font-size: 100%;
   font-weight: bold;
   letter-spacing: 0px;
}


#main p {
   text-align: justify;
   font-size: 14px;
   margin: 20px;
   margin-right: 25px;
   margin-bottom: 0px;
}

#main ul {
   list-style-type: disc;
   margin: 25px;
}

#main ul li {
   margin-bottom: 3px;
   font-size: 14px;
   text-align: justify;
}
   

/* Aside styles */
aside {
   border: 3px solid rgb(149, 91, 42);
   color: rgb(149, 91, 42);

   float: right;
   margin: 10px;
   width: 40%;

   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border-radius: 30px;
}

aside p {
   font-size: 90%;
   margin: 20px;
}


/* Article styles */
article {
   background-color: rgb(225, 221, 211);
   float: left;
   margin-left: 0%;
   width: 23%;
   height: 100%;
}

article hgroup {
   /*background: rgb(189, 131, 82) url(alisha.png) bottom right no-repeat;*/
   background: rgb(189, 131, 82) bottom right no-repeat;
   color: rgb(215, 181, 151);
   margin-top: -27px;
   margin-bottom: 10px;
   height: 40px;
   text-indent: 20px;
   height: auto;
}

article hgroup h1 {
   font-size: 110%;
   font-weight: normal;
   text-align: center;
   vertical-align: center;
   height: 27px;
   color: white;
}

article hgroup h2 {
   font-size: 100%;
   font-weight: normal;
   height: 100%;
}

article p {
   font-size: 90%;
   margin: 15px;
   height: 100%;
}

article ul {
   list-style-type: disc;
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 20px;
}

article ul li {
   margin-bottom: 15px;
   font-size: 14px;
   text-align: justify;
}


/* Figure box styles */
figure {
   background-color: rgb(149, 91, 42);
   clear: left;
   float: left;
   margin-left: 0%;
   width: 100%;
}

figure div {
   overflow: auto;
   white-space: nowrap;
}

figure div img {
   margin: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

figure figcaption {
   background-color: white;
   font-size: 80%;
   font-style: italic;
   text-align: center;
   margin-top: 5px;
}

footer {
   float: center;
   width: 100%;
   text-align: center;
   margin-top: 0px;
   border-top: 2px solid #369;
}

footer address {
width: 100%;
clear: left;
font-size: 1em;
font-style: normal;
font-variant: small-caps;
border-top: 2px solid black;
background-color: rgb(55, 177, 200);
}